#paineis-sobre{
    margin-top: 20px;
}

.depoimento{
    background-color: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    margin-bottom: 0%;
    font-size: 26px;
    text-align: center;
}