#paineis-sobre{
    margin-top: 20px;
}

.depoimento{
    background-color: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    margin-bottom: 0%;
    font-size: 26px;
    text-align: center;
}

.grupo-radio , 
.contato-select{
    width: 50%;
    display:inline-block;
    vertical-align: top;
}

.grupo-radio .radio:first-child{
    margin-top: 0%;
}

.botao-enviar{
    margin-bottom: 10px;
}